.App {
  text-align: center;
}

@media screen and (min-width: 540px) {
  .chart {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    overflow-y: visible;
    overflow-x: auto;
    width: 80%;
    margin: 10px auto
  }
  .components {
    width: 50%;
    margin: 20px
  }
}
