body {
  background-color: #f1f3f8;
}

.title {
  background-color: #393b44;
  color: #f1f3f8;
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  padding: 10px
}
.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

img {
  height: 250px;
  margin: 10px
}

@media screen and (min-width: 540px) {
  .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "n-release charts";
    margin: 10px
  }
  .chart {
    width: 80%;
    margin: 10px auto;
    grid-area: charts;
  }
  .n-release {
    grid-area: n-release;
    border-right: 1px solid #8d93ab;
  }
  .components {
    width: 70%;
    margin: 20px
  }
}

table {
  width: 80%;
  margin: 10px auto
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}