body {
  background-color: #F4F4F2;
  margin: 15px
}
.title {
  grid-area: title;
  color: #495464;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3%;
  font-family: 'Poppins', sans-serif;
}
.pages h2 {
  grid-area: pages;
  font-weight: 22px;
  font-weight: medium;
  font-family: 'Poppins', sans-serif;
  text-align: right;
}
  
.pages h3 {
  grid-area: pages;
  font-weight: 20px;
  font-weight: medium;
  font-family: 'Poppins', sans-serif;
  text-align: right;
}
.pages .rating {
  float: right;
}
  
.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "title pages"
    "title rating";
}
.second {
  margin-top: 20px
}
.favorites {
  background-color: #E8E8E8;
  border-radius: 10px;
  margin: 5px auto;
  align-items: center;
  width: 80%
}
.favorites h2 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding: 10px
}
.favorites img {
  margin: 15px
}
.third {
  display: flex;
  flex-direction: row;
  margin-top: 20px
}
.n-release {
  background-color: #E8E8E8;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 5px
}
.n-release h2 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding: 10px
}
.charts {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.components {
  width: 50%;
}
.list {
  text-align: center;
  margin: 20px
}
.list-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #E8E8E8;
  padding: 10px;
  border-radius: 10px;
}

.map {
  display: block;
  text-align: center;
}
#vector-map {
  width: 80% !important;
  margin: auto;
  height: 500px
}
@media screen and (max-width: 425px) {
  .top {
    display: flex;
    flex-direction: column;
    text-align: center;
  } 
  .title {
    text-align: center;
  }
  .pages h2 {
    text-align: center;
  }
  .pages h3 {
    text-align: center;
  }
  .second {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto
  }
  #vector-map {
    height: 10%;
    width: 90%;
    margin: 10px auto
  }
  .favorites img {
    width: 20%;
    height: auto
  }
  .favorites {
    width: 90%;
    margin: 10px auto
  }
  .third {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto
  }
  .components {
    width: 30%;
    margin: 5px
  }
  .n-release {
    width: 90%;
    margin: 10px auto
  }
}